.button-rec {
  background-color: #b77cf0;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  width: 19%;
  font-size: 16px;
  color: #f2f2fc;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
  margin-left: 1%;
}

.button-rec:hover {
  background-color: #f2f2fc;
  color: #b77cf0;
}
